# Firebase Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=cvc-portal-c73b0.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=cvc-portal-c73b0
VITE_FIREBASE_STORAGE_BUCKET=cvc-portal-c73b0.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=922441157837
VITE_FIREBASE_APP_ID=1:922441157837:web:f2dd3c47bbb694d9276d84
VITE_FIREBASE_MEASUREMENT_ID=G-HJ1Z37QJFH
